In [1]:
from tqdm import tqdm
import re
import random
import pandas as pd

In [2]:
df = pd.read_json("/home/aurelien/Wino-UROP/train_xl.jsonl", lines=True)

In [4]:
female_names = [
    'Abby', 'Adriana', 'Alberta', 'Alexia', 'Alice', 'Alicia', 'Alida', 'Alison', 'Allison', 'Amelia',
    'Ami', 'Amy', 'Ana', 'Angela', 'Ann', 'Anna', 'Ari', 'Ariana', 'Arya', 'Aubrey', 'Audrey', 'Bailey',
    'Beth', 'Bethany', 'Betsy', 'Billie', 'Brenda', 'Bri', 'Casey', 'Cassie', 'Catherine', 'Cathy',
    'Celia', 'Charli', 'Charlotte', 'Cherise', 'Christi', 'Christine', 'Cindi', 'Claire', 'Clara',
    'Claudia', 'Cora', 'Danika', 'Danielle', 'Daphne', 'Darlene', 'Diane', 'Dina', 'Donna', 'Doris',
    'Dorothy', 'Dotty', 'Elena', 'Elizabeth', 'Ellen', 'Emily', 'Emma', 'Eve', 'Evelyn', 'Felicia',
    'Fran', 'Francie', 'Francine', 'Geena', 'Ginger', 'Glenda', 'Haley', 'Halley', 'Hannah', 'Hazel',
    'Heather', 'Helen', 'Helena', 'Hilda', 'India', 'Irma', 'Isabel', 'Jacquie', 'Jamy', 'Janel',
    'Janice', 'Janine', 'Jasmine', 'Jen', 'Jenna', 'Jennifer', 'Jennifers', 'Jess', 'Jessie', 'Jessy',
    'Jill', 'Joanna', 'Joanne', 'Jodi', 'Juicy', 'Julie', 'Juliette', 'Kara', 'Kat', 'Katelyn', 'Kathy',
    'Katia', 'Katie', 'Katrina', 'Katy', 'Kayla', 'Kelly', 'Kelsey', 'Kenya', 'Kerri', 'Kira', 'Kristen',
    'Kristin', 'Lana', 'Lara', 'Lauren', 'Leslie', 'Linda', 'Lisa', 'Lorelei', 'Lorena', 'Louise', 'Lucy',
    'Mabel', 'Maddie', 'Mae', 'Maggie', 'Mallory', 'Marcy', 'Maria', 'Mariah', 'Marianne', 'Marilyn',
    'Marissa', 'Marla', 'Martha', 'Mary', 'Maryann', 'Melinda', 'Mina', 'Mindy', 'Misty', 'Monica',
    'Mya', 'Nancy', 'Natalie', 'Natasha', 'Nina', 'Olga', 'Olivia', 'Paisley', 'Pam', 'Pamela', 'Pat',
    'Patricia', 'Patti', 'Paula', 'Peggy', 'Priscilla', 'Rachel', 'Ramona', 'Rebecca', 'Rhiannon',
    'Rhonda', 'Rosalind', 'Rose', 'Ruby', 'Sadie', 'Sally', 'Samantha', 'Sandy', 'Sara', 'Sarah',
    'Scarlett', 'Selma', 'Shannon', 'Sharon', 'Shelley', 'Shirley', 'Sissy', 'Sue', 'Susan', 'Susie',
    'Suzie', 'Tabatha', 'Tanya', 'Tara', 'Tasha', 'Tatianna', 'Taylor', 'Teresa', 'Terri', 'Tia',
    'Tina', 'Tracy', 'Venus', 'Victoria', 'Wanda', 'Wendy', 'Zelda', 'Zora'
]


male_names = [
    'Aaron', 'Aarons', 'Achilles', 'Adam', 'Adams', 'Aiden', 'Alfred', 'Ali', 'Allen', 'Andrew', 'Andy', 'Angel', 'Anthony',
    'Ari', 'Arnold', 'Arthur', 'Barry', 'Ben', 'Benjamin', 'Bennett', 'Bertram', 'Beto', 'Bill', 'Billy', 'Bob', 'Bobby',
    'Braden', 'Bradley', 'Bret', 'Brett', 'Brian', 'Bruce', 'Bryan', 'Bryce', 'Byron', 'Cal', 'Cameron', 'Carl', 'Carter',
    'Casper', 'Cate', 'Chad', 'Charles', 'Charlie', 'Chip', 'Chris', 'Christopher', 'Chuck', 'Clint', 'Colby', 'Connor',
    'Damien', 'Dan', 'Daniel', 'Danny', 'Darren', 'David', 'Dean', 'Derrick', 'Don', 'Donald', 'Doug', 'Dwight', 'Earl', 'Ed',
    'Eddy', 'Eli', 'Elmer', 'Evan', 'Frank', 'Franklin', 'Fred', 'Gabe', 'Gary', 'Gavin', 'George', 'Gordon', 'Greg', 'Hamza',
    'Hank', 'Harry', 'Henry', 'Hunter', 'Igor', 'Jack', 'Jackson', 'Jacob', 'Jake', 'Jame', 'James', 'Jameson', 'Jamie', 'Jamy',
    'Jan', 'Jay', 'Jeb', 'Jeff', 'Jefferson', 'Jeffrey', 'Jeramy', 'Jeremy', 'Jerry', 'Jesus', 'Joe', 'Joel', 'Joey', 'John',
    'Johnathan', 'Jon', 'Jonathan', 'Josh', 'Joshua', 'Justin', 'Ken', 'Kendall', 'Kenneth', 'Kenny', 'Kevin', 'Kyle', 'Leo',
    'Leonard', 'Leroy', 'Leslie', 'Liam', 'Logan', 'Lonnie', 'Lucas', 'Luke', 'Mack', 'Major', 'Manfred', 'Marco', 'Marcus',
    'Mark', 'Matt', 'Matthew', 'Max', 'Michael', 'Michaels', 'Miguel', 'Mitch', 'Mohammad', 'Morgan', 'Nathan', 'Ned', 'Neil',
    'Nick', 'Nixon', 'Noah', 'Norman', 'Ollie', 'Owen', 'Patrick', 'Paul', 'Paulie', 'Perry', 'Pete', 'Peter', 'Phil', 'Philip',
    'Phillipe', 'Preston', 'Quentin', 'Quinn', 'Ralph', 'Randy', 'Ray', 'Rich', 'Richard', 'Rick', 'Rickley', 'Ricky', 'Riley',
    'Rob', 'Robert', 'Roger', 'Rogers', 'Ron', 'Royce', 'Russ', 'Ryan', 'Sam', 'Samuel', 'Scott', 'Seth', 'Shane', 'Stan',
    'Stephen', 'Steve', 'Steven', 'Ted', 'Terry', 'Thomas', 'Timothy', 'Toby', 'Tom', 'Tommy', 'Tony', 'Tyler', 'Walt',
    'Walter', 'William', 'Yuri'
]
prenoms_masculins = [
    'Ian', 'Dennis', 'Kyle', 'Logan', 'Craig', 'Derrick', 'Robert', 'Donald', 'William', 'Neil',
    'Kenneth', 'Eric', 'Kevin', 'Jason', 'Benjamin', 'Joseph', 'John', 'Aaron', 'Nick', 'Adam', 'Matthew',
    'Justin', 'Michael', 'Joel', 'Christopher', 'Steven', 'Brett', 'Jeffrey', 'Jim', 'Byron', 'Brian', 'Samuel',
    'Cricket', 'Jack', 'Lawrence', 'Randy', 'Ryan', 'Avid', 'Bill', 'Bob', 'Hunter', 'Jordan', 'Jay', 'Jeremy',
    'George', 'Ricky', 'Jake', 'David', 'Patrick', 'Joe', 'Don', 'Ken', 'Kenny', 'Mike',
    'Shane', 'Josh', 'Tim', 'Earl', 'Kim', 'Casper', 'Josh', 'Tim', 'Jay', 'Jeremy', 'Gavin',
    'Jay', 'Jeremy', 'David', 'Peter', 'Kendall', 'Jacob', 'Josh', 'Tim', 'Gordon', 'Daniel', 'Max',
    'Matt', 'Tim', 'Ken', 'Kevin', 'Joseph', 'Paul', 'George', 'Jeremy', 'Joseph', 'Brian', 'Nick', 'Nick', 'Ken',
    'Jake', 'Steve', 'Tom', 'Frank', 'Mike', 'Peter', 'Henry', 'Larry', 'John', 'James', 'Kyle', 'Tim', 'Michael',
    'Dave', 'Matt', 'Ben', 'Dustin', 'Oliver', 'Matt', 'Andy', 'Pete', 'Jake', 'Aaron', 'Brennan', 'Jason', 'James',
    'Thomas', 'Charles', 'Richard', 'Walter', 'Barry', 'Tom', 'Greg', 'Jerry', 'Mark', 'Johnny', 'Todd', 'Bobby',
    'Joe', 'Daniel', 'Sam', 'Chris', 'Josh', 'Will', 'Timothy', 'Samuel', 'Jack', 'Dustin', 'Johnny', 'Peter', 'Jerry',
    'Nelson'
]

prenoms_feminins = [
    'Patricia', 'Megan', 'Jessica', 'Elena', 'Tanya', 'Amy', 'Jennifer', 'Sue', 'Natalie', 'Betty', 'Kayla', 'Emily',
    'Felicia', 'Sarah', 'Jane', 'Christine', 'Victoria', 'Samantha', 'Katrina', 'Mary', 'Laura',
    'Rachel', 'Monica', 'Maria', 'Joan', 'Carrie', 'Angela', 'Cynthia', 'Tea', 'Avid', 'Rebecca', 'Jill', 'Michelle',
    'Jen', 'Brenda', 'Nancy', 'Tina', 'Pam', 'Margot', 'Donna', 'Glenda', 'Sheila', 'Callie',
    'Dina', 'Heather', 'Cathy', 'Susan', 'Fred', 'Jenny', 'Kenny', 'Jenny', 'Lauren',
    'Erin', 'Sandy', 'Erica', 'Sandy', 'Valentine', 'Sherry', 'Beth', 'Carla', 'Daphne', 'Rebecca', 'Tina',
    'Helen', 'Margaret', 'Emily', 'Rachel', 'Laura', 'Joanna', 'Jill', 'Lucy', 'Nina', 'Kimberly', 'Kate', 'Sally',
    'Zoe', 'Maggie', 'Olivia', 'Stephanie', 'Selma', 'Ruby', 'Ginger', 'Rita', 'Penny', 'Olga', 'Katie', 'Maggie',
    'Claire', 'Paula', 'Fiona', 'Marie', 'Monica', 'Hannah', 'Gabrielle', 'Jessica', 'Rita', 'Gina', 'Helen', 'Anna',
    'Elizabeth', 'Sophia', 'Isabel', 'Charlotte', 'Olivia', 'Emily', 'Pippa', 'Jessica', 'Naomi', 'Kristen', 'Melanie',
    'Amanda', 'Ruth', 'Leah', 'Tiffany', 'Mia', 'Eva', 'Dina', 'Christina', 'Mira', 'Maggie', 'Rachel', 'Lauren',
    'Lena', 'Sarah', 'Tasha', 'Amelia', 'Sophia', 'Rachel', 'Katie', 'Hannah', 'Juliette', 'Sandra', 'Melanie',
    'Rosie', 'Helen', 'Emma', 'Julia', 'Emma', 'Anna', 'Barbara', 'Mandy', 'Claudia', 'Jasmine', 'Sasha', 'Julia',
    'Zoe', 'Faith', 'Adriana', 'Sophie', 'Alice', 'Vera', 'Emily', 'Betty', 'Nicole', 'Ava', 'Diana', 'Maria', 'Charlotte',
    'Lindsey'
]

male_names += prenoms_masculins
female_names += prenoms_feminins

In [11]:
from tqdm import tqdm
import re
import random

def inv_genre(df):
    df_mod = df.copy()
    sent = ''
    for i in tqdm(range(0, len(df), 2)):
        sent = df.iloc[i, 1]
        replaced1 = ''
        replaced2 = ''
        new1, new2 = '', ''
        j = 1
        k = 1
        for word in re.split(r"['\s]+", sent):
            if j == 1:
                if word in female_names:
                    j += 1
                    replaced1 = word
                    new1 = random.choice(male_names)
                    sent = sent.replace(word, new1)
                elif word in male_names:
                    j += 1
                    replaced1 = word
                    new1 = random.choice(female_names)
                    sent = sent.replace(word, new1)

            elif j == 2:
                if word in female_names:
                    j += 1
                    new2 = random.choice(male_names)
                    replaced2 = word
                    sent = sent.replace(word, new2)
                elif word in male_names:
                    j += 1
                    new2 = random.choice(female_names)
                    replaced2 = word
                    sent = sent.replace(word, new2)

            if k == 1:
                if word == "she":
                    k += 1
                    replaced1_n = word
                    new1_n = 'he'
                    sent = sent.replace(" " + word + " ", " " + new1_n + " ")
                elif word == "he":
                    k += 1
                    replaced1_n = word
                    new1_n = 'she'
                    sent = sent.replace(" " + word + " ", " " + new1_n + " ")
                elif word == "his":
                    k += 1
                    replaced1_n = word
                    new1_n = 'her'
                    sent = sent.replace(" " + word + " ", " " + new1_n + " ")
                elif word == "her":
                    k += 1
                    replaced1_n = word
                    new1_n = 'his'
                    sent = sent.replace(" " + word + " ", " " + new1_n + " ")

            elif k == 2:
                if word == "she" and word != new1_n:
                    k += 1
                    replaced2_n = word
                    new2_n = 'he'
                    sent = sent.replace(" " + word + " ", " " + new2_n + " ")
                elif word == "he" and word != new1_n:
                    k += 1
                    replaced2_n = word
                    new2_n = 'she'
                    sent = sent.replace(" " + word + " ", " " + new2_n + " ")
                elif word == "his" and word != new1_n:
                    k += 1
                    replaced2_n = word
                    new2_n = 'her'
                    sent = sent.replace(" " + word + " ", " " + new2_n + " ")
                elif word == "her" and word != new1_n:
                    k += 1
                    replaced2_n = word
                    new2_n = 'his'
                    sent = sent.replace(" " + word + " ", " " + new2_n + " ")

        df_mod.iloc[i, 1] = sent
        if j >= 2:
            if replaced1 == df.iloc[i]['option1']:
                df_mod.iloc[i, df.columns.get_loc('option1')] = new1
            if replaced1 == df.iloc[i]['option2']:
                df_mod.iloc[i, df.columns.get_loc('option2')] = new1
            if replaced2 == df.iloc[i]['option1']:
                df_mod.iloc[i, df.columns.get_loc('option1')] = new2
            if replaced2 == df.iloc[i]['option2']:
                df_mod.iloc[i, df.columns.get_loc('option2')] = new2
            df_mod.iloc[i + 1, df.columns.get_loc('option1')] = df_mod.iloc[i, df.columns.get_loc('option1')]
            df_mod.iloc[i + 1, df.columns.get_loc('option2')] = df_mod.iloc[i, df.columns.get_loc('option2')]

            sent = df.iloc[i + 1, 1]
            sent = sent.replace(replaced1, new1)
            if j == 3:
                sent = sent.replace(replaced2, new2)
            if k >= 2:
                sent = sent.replace(" " + replaced1_n + " ", " " + new1_n + " ")
            if k == 3 and new1_n != new2_n:
                sent = sent.replace(" " + replaced2_n + " ", " " + new2_n + " ")
                if 'hammer' in sent:
                    pass  # You need to complete this logic

            df_mod.iloc[i + 1, 1] = sent

    return df_mod

# Example usage:
modif_df_inv_genre = inv_genre(df)

100%|██████████| 20199/20199 [02:37<00:00, 128.51it/s]

In [12]:
modif_df_inv_genre

,qID,sentence,option1,option2,answer
0,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-2,Jill volunteered to eat Jessy's menudo after a...,Jill,Jessy,2
1,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-1,Jill volunteered to eat Jessy's menudo after a...,Jill,Jessy,1
2,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-1,"He never comes to my home, but I always go to ...",home,house,1
3,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-2,"He never comes to my home, but I always go to ...",home,house,2
4,3D5G8J4N5CI2K40F4RZLF9OG2CKVTH-2,"Doris doesn't wear leg warmers to bed, while S...",Doris,Sarah,2
...,...,...,...,...,...
40393,3PKJ68EHDNUOUBAJ3ASD64MQ8GSJHJ-1,I felt lucky because when the fish slipped of ...,pole,net,1
40394,3W1K7D6QSDVJX2B852X30LVRM6WZBL-1,Lara took months to write back to Natasha's pa...,Lara,Natasha,1
40395,3W1K7D6QSDVJX2B852X30LVRM6WZBL-2,Lara took months to write back to Natasha's pa...,Lara,Natasha,2
40396,3BO3NEOQM2VSJ2H6ZK9L5F8V75BAIT-1,My hair looked better in a braid than a ponyta...,braid,ponytail,1
40397,3BO3NEOQM2VSJ2H6ZK9L5F8V75BAIT-2,My hair looked better in a braid than a ponyta...,braid,ponytail,2

In [20]:
modif_df_inv_genre.to_json(
    'modif_df_inv_genre.jsonl',
    orient='records', lines = True)

In [14]:
def mask_noums(df):
  df_mod = df.copy()
  sent = ''
  ch1 = 'ded626qbddza'
  ch2 = 'odeps1OM993j'
  for i in tqdm(range(0, len(df), 2)):
    sent = df.iloc[i,1]
    replaced1 = ''
    replaced2 = ''
    new1, new2 = '',''
    j = 1
    for word in re.split(r"['\s]+", sent):
      if j == 1:
        if word in female_names:
          j+=1
          replaced1 = word
          new1 = ch1
          sent = sent.replace(word, new1)
          # Assuming 'option1' and 'option2' are the column names for options

        elif word in male_names:
          j+=1
          replaced1 = word
          new1 = ch1

          sent = sent.replace(word, new1)
          # Assuming 'option1' and 'option2' are the column names for options


      elif j == 2:
        if word in female_names:
          j+=1
          new2 = ch2
          replaced2 = word
          sent = sent.replace(word, new2)
          # Assuming 'option1' and 'option2' are the column names for options

        elif word in male_names:
          j+=1
          new2 = ch2
          replaced2 = word
          sent = sent.replace(word, new2)
          # Assuming 'option1' and 'option2' are the column names for options



    df_mod.iloc[i,1] = sent
    if j>=2 :

      if replaced1 == df.iloc[i]['option1']:
        df_mod.iloc[i, df.columns.get_loc('option1')] = new1

      if replaced1 == df.iloc[i]['option2']:
        df_mod.iloc[i, df.columns.get_loc('option2')] = new1

      if replaced2 == df.iloc[i]['option1']:
            df_mod.iloc[i, df.columns.get_loc('option1')] = new2
      if replaced2 == df.iloc[i]['option2']:
            df_mod.iloc[i, df.columns.get_loc('option2')] = new2
      df_mod.iloc[i + 1, df.columns.get_loc('option1')] = df_mod.iloc[i, df.columns.get_loc('option1')]
      df_mod.iloc[i + 1, df.columns.get_loc('option2')] = df_mod.iloc[i, df.columns.get_loc('option2')]


      sent = df.iloc[i + 1,1]
      sent = sent.replace(replaced1, new1)
      if j == 3:
        sent = sent.replace(replaced2, new2)


      df_mod.iloc[i + 1,1] = sent

  return df_mod

modif_df_mask_noums = mask_noums(df)

100%|██████████| 20199/20199 [02:37<00:00, 127.89it/s]

In [21]:
modif_df_mask_noums.to_json(
    'modif_df_random_mask_noums.jsonl',
    orient='records', lines = True
)

In [17]:
modif_df_mask_noums

,qID,sentence,option1,option2,answer
0,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-2,ded626qbddza volunteered to eat odeps1OM993j's...,ded626qbddza,odeps1OM993j,2
1,3QHITW7OYO7Q6B6ISU2UMJB84ZLAQE-1,ded626qbddza volunteered to eat odeps1OM993j's...,ded626qbddza,odeps1OM993j,1
2,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-1,"He never comes to my home, but I always go to ...",home,house,1
3,3XWUWJ18TLO2DDRXF83QWLKRJ29UU4-2,"He never comes to my home, but I always go to ...",home,house,2
4,3D5G8J4N5CI2K40F4RZLF9OG2CKVTH-2,"ded626qbddza doesn't wear leg warmers to bed, ...",ded626qbddza,odeps1OM993j,2
...,...,...,...,...,...
40393,3PKJ68EHDNUOUBAJ3ASD64MQ8GSJHJ-1,I felt lucky because when the fish slipped of ...,pole,net,1
40394,3W1K7D6QSDVJX2B852X30LVRM6WZBL-1,ded626qbddza took months to write back to odep...,ded626qbddza,odeps1OM993j,1
40395,3W1K7D6QSDVJX2B852X30LVRM6WZBL-2,ded626qbddza took months to write back to odep...,ded626qbddza,odeps1OM993j,2
40396,3BO3NEOQM2VSJ2H6ZK9L5F8V75BAIT-1,My hair looked better in a braid than a ponyta...,braid,ponytail,1
40397,3BO3NEOQM2VSJ2H6ZK9L5F8V75BAIT-2,My hair looked better in a braid than a ponyta...,braid,ponytail,2