In [2]:
import pandas as pd

df = pd.read_csv("op and ch.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'op and ch.csv'

In [2]:
df = df[["Row Key", "Col Key", "Count"]]
df

                         Row Key           Col Key  Count
0                    empty, full         bowl, pan     13
1                    old, trendy  carpet, hardwood     12
2               stable, unstable       metal, wood     11
3                    empty, full         bag, bowl     10
4                    empty, full         bowl, cup      7
...                          ...               ...    ...
19849                empty, full       barn, field      1
19850  goes to church, sleeps in  Jessica, Lindsey      1
19851               clean, dirty      table, water      1
19852          did not get, gets     Justin, Kevin      1
19853            anyway, but, so   braid, ponytail      1

[19854 rows x 3 columns]

In [3]:
df = df.dropna(subset=['Row Key', 'Col Key'])

In [4]:
df

                         Row Key           Col Key  Count
0                    empty, full         bowl, pan     13
1                    old, trendy  carpet, hardwood     12
2               stable, unstable       metal, wood     11
3                    empty, full         bag, bowl     10
4                    empty, full         bowl, cup      7
...                          ...               ...    ...
19849                empty, full       barn, field      1
19850  goes to church, sleeps in  Jessica, Lindsey      1
19851               clean, dirty      table, water      1
19852          did not get, gets     Justin, Kevin      1
19853            anyway, but, so   braid, ponytail      1

[19852 rows x 3 columns]

In [5]:
def create_gephi(df):
    edges = []
    nodes = set()
    
    for _, row in df.iterrows():
        attr_words = row['Row Key'].split(', ')
        obj_words = row['Col Key'].split(', ')
        weight = row['Count']
        
        for attr in attr_words:
            for obj in obj_words:
                edges.append((attr, obj, weight))
                edges.append((obj, attr, weight))
                nodes.add(attr)
                nodes.add(obj)
    
    # Sauvegarde des nœuds
    nodes_df = pd.DataFrame({'Id': list(nodes)})
    
    # Sauvegarde des arêtes
    edges_df = pd.DataFrame(edges, columns=['Source', 'Target', 'Weight'])
    
    display(nodes_df)
    display(edges_df)

    edges_df.to_csv("edges.csv", index=False)
    nodes_df.to_csv("nodes.csv", index=False)

    return(nodes_df, edges_df)

# Exemple d'utilisation
create_gephi(df)

                      Id
0         is allergic to
1              meet them
2      valued his talent
3                 streak
4                    nor
...                  ...
16315  wished the couple
16316           roadside
16317                win
16318          yelled at
16319              igloo

[16320 rows x 1 columns]

          Source    Target  Weight
0          empty      bowl      13
1           bowl     empty      13
2          empty       pan      13
3            pan     empty      13
4           full      bowl      13
...          ...       ...     ...
172171  ponytail       but       1
172172        so     braid       1
172173     braid        so       1
172174        so  ponytail       1
172175  ponytail        so       1

[172176 rows x 3 columns]

(                      Id
 0         is allergic to
 1              meet them
 2      valued his talent
 3                 streak
 4                    nor
 ...                  ...
 16315  wished the couple
 16316           roadside
 16317                win
 16318          yelled at
 16319              igloo

 [16320 rows x 1 columns],
           Source    Target  Weight
 0          empty      bowl      13
 1           bowl     empty      13
 2          empty       pan      13
 3            pan     empty      13
 4           full      bowl      13
 ...          ...       ...     ...
 172171  ponytail       but       1
 172172        so     braid       1
 172173     braid        so       1
 172174        so  ponytail       1
 172175  ponytail        so       1

 [172176 rows x 3 columns])